@import url('reset.css');

:root {
    --green: #44FFA1;
    --purple-900: #24053E;
    --purple-500: #584D62;
    --purple-100: #FCF8FF;
    --white: #FFFFFF;
}

body {
    font-family: 'Manrope', sans-serif;
}

.container {
    width: 90%;
    max-width: 1120px;
    margin-inline: auto;
}

header {
    height: 37.5rem;
    position: relative;
    background-color: var(--purple-900);
    color: white;

    background-image: url('../images/bg-pattern-1.svg'), url('../images/bg-pattern-2.svg');
    background-repeat: no-repeat;
    background-position: -4vw 12vh, 90vw 35vh;
}

.header_shape {
    height: 10.625rem;
    width: 100%;
    position: absolute;
    top: 80%;
    right: 0rem;
    background-color: var(--purple-900);
    clip-path: ellipse(60% 55% at 50% 45%);
}

nav {
    padding: 3.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    position: relative;
    line-height: 1.8;
    font-weight: 700;
    font-size: 1.125rem;
    color: white;
}

h1,
h2,
h3,
h4 {
    font-family: 'Fraunces', serif;
}

h1 {
    font-size: 5rem;
    max-width: 14ch;
    font-weight: 900;
    margin-inline: auto;
    text-align: center;
}

.highlight {
    position: relative;
    transition: all 0.3s ease-in-out;
}

a.highlight:hover {
    cursor: pointer;
    color: var(--green);
}

.highlight::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1875rem;
    background-color: var(--green);
}

a.button_link {
    color: var(--purple-900);
    background-color: var(--green);
    line-height: 1.8;
    font-weight: 700;
    font-size: 1.125rem;
    width: 100%;
    padding: 0.75rem 2rem;
    border: 0.125rem solid var(--green);
    transition: all 0.3s ease-in-out;
}

a.button_link:hover {
    background-color: transparent;
    color: var(--green);
    cursor: pointer;
}

header a.button_link {
    margin-top: 2.5rem;
    max-width: 10.375rem;
    text-align: center;
    margin-inline: auto;
    margin-bottom: 5.375rem;
}

.hero_image {
    height: 27.5625rem;
    z-index: 100;
    margin-inline: auto;
    position: relative;
}

.features_section {
    padding-top: 30rem;
    padding-bottom: 9rem;
    background-color: var(--purple-100);
    color: var(--purple-900);
}

.features {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 1rem;
    position: relative;
}

.features_section_shape {
    height: 10.625rem;
    width: 100%;
    position: absolute;
    top: 206%;
    right: 0rem;
    background-color: var(--purple-100);
    clip-path: ellipse(60% 55% at 50% 45%);
}

.features .feature {
    flex: 1;
    text-align: center;
}

.features .feature .number {
    border-radius: 100%;
    border: 0.0625rem solid var(--purple-900);
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 1.5rem;
    margin-inline: auto;
}

.features .feature .title {
    margin-top: 3.5rem;
    margin-bottom: 1.75rem;
    font-weight: 600;
    line-height: 1.2;
    font-size: 2rem;
}

.features .feature p {
    line-height: 1.8;
    font-size: 1.125rem;
}

.cta_section {
    padding-top: 12.5rem;
    padding-bottom: 7rem;
}

.cta_section img {
    height: 29.8125rem;
    width: 29.8125rem;
}

.cta_section .container {
    display: flex;
    align-items: flex-start;
}

.cta_section .container .content {
    background-color: var(--purple-900);
    color: white;
    padding: 4rem;
    position: relative;
    margin-left: -5.25rem;
    margin-top: 10.25rem;
}

.cta_section .container .content h4 {
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 2rem;
}

.cta_section .container .content p {
    line-height: 1.8;
    font-size: 1.125rem;
    margin-bottom: 2rem;
}

.cta_section .container .content .button_link {
    max-width: 13.125rem;
}

.cta_section .container .content img {
    position: absolute;
    height: 8.5625rem;
    top: 80%;
    right: 0%;
}

footer {
    padding-bottom: 3.5rem;
}

footer .content {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
}

footer img {
    margin-inline: auto;
}

footer .icons {
    display: flex;
    gap: 1.75rem;
    margin-inline: auto;
}

footer .icons img {
    cursor: pointer;
}