@import url('reset.css');

:root {
    --green: #44FFA1;
    --purple-900: #24053E;
    --purple-500: #584D62;
    --purple-100: #FCF8FF;
    --white: #FFFFFF;
}

body {
    font-family: 'Manrope', sans-serif;

}

.container {
    width: 90%;
    max-width: 1120px;
    margin-inline: auto;
}

header {
    height: 600px;
    position: relative;
    background-color: var(--purple-900);
}

.header_shape {
    height: 170px;
    width: 100%;
    position: absolute;
    top: 80%;
    right: 0rem;
    background-color: var(--purple-900);
    clip-path: ellipse(60% 55% at 50% 45%);
}



nav {
    padding-top: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: white;
    position: relative;
}

nav a:after {
    position: absolute;
    color: white;
    content: " ";
    height: 3px;
    background-color: var(--green);
    bottom: -8px;
    left: 0;
    width: 100%;
    font-weight: 700;
    font-size: 18px;
    line-height: 180%;

}

/* body {
    font-family: 'Fraunces', serif;
} */